GitPython==3.1.44
joblib==1.4.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
streamlit==1.42.2
webdriver-manager==4.0.2
widgetsnbextension==4.0.13
xgboost==3.0.0
